extends layout
block head

block content
  .row
      .game-infos
        p.game-title
          img(src='#{game.iconRelPath}', alt='#{game.name}', aria-describedby='game-desc-#{game._id}')
          | #{game.name}
        p.game-subtitle
          a(href='#{game.link}', title='Obtenir #{game.name}') Obtenir
      div.row(style='width:100%;')
        a.button-link(href='#{game._id}/tournaments', title='Tournois #{game.name}') Tournois
        a.button-link(href='#faq', title='FAQ #{game.name}') FAQ
        a.button-link(href='#{game.topicId}', title='Topic forum #{game.name}') Topic

      hr
      h3 Description
      div(id='game-desc-#{game._id}', class='game-description') !{game.description}

      - var faq = {};
      - each faqEntry, ind in game.faq
        - if(!Array.isArray(faq[faqEntry.letter]))
          - faq[faqEntry.letter] = [];
        - faq[faqEntry.letter].push(faqEntry);
  
      - if(Object.getOwnPropertyNames(faq).length != 0)
        hr
        div(class='game-glossary')
          h3(id="faq") FAQ
          ul.col-md-8.glossary-ul
            - var isFirst = true;
            - each faqEntry, letter in faq
              li(id='#{letter.toLowerCase()}', class=(isFirst ? 'selected' : '')) #{letter}
              - isFirst = false;
  
         .glossary-content
          - var prevFaq = ''
          - each faqData, letter in faq
            | <div id='content-for-#{letter.toLowerCase()}'>
            span.glossary-title #{letter}
            - each faqEntry in faqData
              p
                strong !{faqEntry.title}
                br
                !{faqEntry.content}
            p.return-to-top Retourner au début
            | </div>

block js
  script(src='#{staticsPrefixPath}/js/jquery.scrollTo.min.js')
  script(language='javascript', type='text/javascript').
      $(function() {
        $(".glossary-content div").css({'background-color' : '#ffffff'});
        //below code is for high-lighting the link and scroll to particular DOM Element as well
        $(".glossary-ul li").each(function() {
          $(this).click(function() { //On click of any Alphabet
            $(".glossary-ul li").removeClass("selected"); //Initially remove "selected" class if any
            $(this).addClass("selected"); //Add "selected" class for the clicked one
            elementClick = $(this).attr("id"); //get respective 'Id' for example 'a','b','c'.. etc.,
            $(".glossary-content").scrollTo($("#content-for-"+elementClick), 800); //scrollTo particular DOM Element
            $(".glossary-content div").css({'background-color' : '#ffffff'}); //set the background color to default, that is white
            $(".glossary-content #content-for-"+elementClick).css({'background-color' : '#DDD'}); //set the background color to light-blue to that div
          });
        });
        //When "Retourner au début" is clicked highlight the first Alphabet that 'A' and scroll to top.
        $('.return-to-top').click(function(){
          $(".glossary-ul li").each(function() {
            $(".glossary-ul li").removeClass("selected"); //Remove classname "selected"
          });
          $("#a").addClass("selected"); //Add a class named "selected" to the first Alphabet
          $(".glossary-content").scrollTo($("#content-for-a"), 800); //This is for scrolling to particular element that is "A" here...
          $(".glossary-content div").css({'background-color' : '#ffffff'}); //set the background color to default, that is white
          $(".glossary-content #content-for-a").css({'background-color' : '#DDD'}); //set the background color to light-blue to that div
        });
      });