extends layout

block home
  h2 Derniers tournois
    |         
    - if(tournaments.length===0)
      p(class='no-tournaments') Aucun tournoi ne se déroule en ce moment.
    - else
      #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          - each tournament,i in tournaments
            li(class="#{i==0?'active':''}", data-target='#myCarousel', data-slide-to='#{i}')
        .carousel-inner(role='listbox')
          - each tournament,i in tournaments
            div(class="item#{i==0?' active':''}")
              a(href='/tournaments/#{tournament.tournamentId}', title='#{tournament.title}')
                img.first-slide.img-responsive.center-block(src='#{tournament.imageRelPath}', alt='#{tournament.title}')
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          |             
          span.sr-only Previous
        |           
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          |             
          span.sr-only Next
  .wrapper
    figure.img-indent2
      img(src='#{staticsPrefixPath}/img/page1-img1.png', alt='')
    .extra-wrap
      strong.text-1.
        N'hésitez pas à vous inscrire sur le forum pour échanger avec vos adversaires.

block aside

block content
  .row
    // Left pannel
    .col-md-8.left-panel
      section
        h3 Les news
        |                     
        - if(newsCollection.length===0)
          p.no-tournaments Aucune news n'est disponible.
        - else
            .news-list
              - each news in newsCollection
                  article.news-container.container-fluid
                      .news-img.col-md-4
                        img(src='#{news.thumbnailRelPath}', alt='#{news.title}')
                      |                                 
                      .col-md-8
                        a.news-title(href='/news/#{news.newsId}') #{news.title}
                        |                                   
                        .news-content
                          | !{news.content}
                  | 
            .news-paginate
               include _paginate
    // Right pannel
    .col-md-4.right-panel
      aside
        h3 Tournois
        |                 
        a.filter(href='#') En ce moment
        | /
        a.filter(href='#') Populaires
        | /
        a.filter(href='#') A venir
        | /
        a.filter(href='#') J&apos;y participe
        |                 
        ul.tournaments
          li.row
            img.img-responsive.pull-left(src='#{staticsPrefixPath}/img/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='#{staticsPrefixPath}/img/lock.png')
          |                     
          li.row
            img.img-responsive.pull-left(src='#{staticsPrefixPath}/img/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='#{staticsPrefixPath}/img/lock.png')
          |                     
          li.row
            img.img-responsive.pull-left(src='#{staticsPrefixPath}/img/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='#{staticsPrefixPath}/img/lock.png')
          |                     
          li.row
            img.img-responsive.pull-left(src='#{staticsPrefixPath}/img/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='#{staticsPrefixPath}/img/lock.png')
      |             
      aside
        h3 Feeds
        ul#feeds
      aside
        img(src='#{staticsPrefixPath}/img/banner_design.png', alt='ads')

block js
  script(type='text/javascript', src='#{staticsPrefixPath}/js/jquery.feeds.min.js')
  script(type='text/javascript').
    $(function() {
      $('ul#feeds').feeds({
          feeds: {
              recent: '#{forumUrl}/recent.rss',
          },
          entryTemplate: function(entry) {
              return '<li><a href="' + entry.link + '">' + entry.title + '</a></li>';
          }
      });
    });
