doctype html(lang='fr')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    title NodePoule Template for Bootstrap
    // Bootstrap core CSS
    link(href='#{staticsPrefixPath}/css/bootstrap.min.css', rel='stylesheet')
    // Custom styles for this template
    link(href='#{staticsPrefixPath}/css/carousel.css', rel='stylesheet')
    link(href='#{staticsPrefixPath}/css/custom.css', rel='stylesheet')
    link(rel='stylesheet', href='#{staticsPrefixPath}/css/style.css' type='text/css', media='all')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    block head
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/index.html') NodePoule
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/index.html') Accueil
            li
              a(href='/tournaments') Tournois
            li
              a(href='#{forumUrl}') Forum
            li
              a(href='/faq') FAQ
            - if(user)
              li
                a(href='/profile') Mon Profil
            - else
              li
                a(href='#{forumUrl}/login?next=#{baseUrl}#{currentReqPath}') Se connecter
        // /.nav-collapse
    // Main jumbotron for a primary marketing message or call to action
    .jumbotron
      .container
        h1
          a(href='/index.html')
            img.img-responsive(src='#{staticsPrefixPath}/img/logo.png')
        block home
    |     
    .container
      block aside
      block content
      |       
      hr
      |       
      footer
        p &copy; NodePoule 2015
    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='#{staticsPrefixPath}/js/bootstrap.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='#{staticsPrefixPath}/js/ie10-viewport-bug-workaround.js')
    block js
