extends layout

block home
  img.avatar(src='#{profil.user.picture}')
  span.pseudo-header #{profil.user.username}
  span.user-status #{profil.user.status}

block content
      .mid-left
        span.section-title Pseudos
          ul.list-pseudos
            -each gamerTag in profil.gamerTags
              li
                img(src='#{gamerTag.game.iconRelPath}', alt='#{gamerTag.game.name}', title='#{gamerTag.game.name}')
                | #{gamerTag.tag}
      div(style='width: 100%;')
        span.section-title Palmarès
        ul.list-palmares
          li
            img.palmares-icon(src='#{staticsPrefixPath}/img/hearthstone_icon.png', alt='palmares de #{profil.user.username}')
            .palmares-infos
              a(href='#') Titre du tournoi - xx/xx/xxxx
              br
              span Classement : xxe


block js
  link(rel='stylesheet', href='#{staticsPrefixPath}/css/clndr.css' type='text/css', media='all')
  script(type='text/javascript', src='#{staticsPrefixPath}/js/underscore-min.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/js/moment-2.5.1.js')