extends layout
    
block head
  link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/decklist.css')
  link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/selectize.css')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/selectize.min.js')
  script(type='text/javascript').
    $(function() {
        var posX=0,posY=0;
        $(document).on('mousemove', function(event) {
           posX = event.pageX-210;
           posY = event.pageY-150;
        });
    
        $(document).on('mouseenter', '.decklist-content li .card-name a',  function(e) {
          console.log("mouseenter");
          $(this).closest('li').find('.decklist-popup').show();
          $(this).closest('li').find('.decklist-popup').offset({top: posY, left: posX});
        }).on("mouseleave", '.decklist-content li .card-name a', function() {
          $(this).closest('li').find('.decklist-popup').offset({top: 0, left: 0});
          $(this).closest('li').find('.decklist-popup').hide();
        });
        
        $('.div-hero').click(
            function(e){
                $('.div-hero.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        );
        
        $("#deck-search").selectize({
            create: false,
            persist: false,
            plugins: ['remove_button'],
            options: !{JSON.stringify(cards)},
            maxItems: 30,
            maxOptions: 20,
            valueField: 'id',
            searchField: ['name', 'type'],
            onItemAdd: function(value, $item) {
              var card = $item.data('card-item');
              var li = $('<li>', { id: card.id });
              var cardDiv = $('<div>',{ class: 'decklist-card ' + card.type.toLowerCase() });
              var popup = $('<div>', { class: 'decklist-popup' });
              $('<img/>', { src: '#{staticsPrefixPath}/img/decklist/cartes/' + card.id + '.png' }).appendTo(popup)
              $('<p>', { class: 'decklist-desc' }).html(card.flavor).appendTo(popup);
              popup.appendTo(cardDiv);
              $('<p>', { class: 'card-mana' }).html(card.cost).appendTo(cardDiv);
              var cardName = $('<p>', { class: 'card-name' });
              $('<a>').html(card.name).appendTo(cardName);
              cardName.appendTo(cardDiv);
              $('<p>', { class: 'card-health' }).html((typeof card.health === 'undefined') ? card.durability : card.health).appendTo(cardDiv);
              $('<p>', { class: 'card-attack' }).html(card.attack).appendTo(cardDiv);
              var cardCount = $('<p>', { class: 'card-count' });
              $('<input/>').attr({ type: 'checkbox', value: card.id}).appendTo(cardCount);
              $('<label />').html(' x2').appendTo(cardCount);
              cardCount.appendTo(cardDiv);
              cardDiv.appendTo(li);
              li.appendTo(".decklist-content ul");
            },
            onItemRemove: function(value) {
              $('li#' + value).remove();
            },
            render: {
                item: function(item, escape) {
                    return '<div class="card-item" data-card-item="' + escape(JSON.stringify(item)) + '"><span class="card-name">' + escape(item.name) + '</span></div>';
                },
                option: function(item, escape) {
                    return '<div class="card-option"><div class="card-option-left"><span class="card-preview card-preview-' + item.type.toLowerCase() + '" style="background-image:url(\'#{staticsPrefixPath}/img/decklist/cartes/' + escape(item.id) + '.png\');"></span></div>'
                    + '<div class="card-option-right"><span class="card-name">' + escape(item.name) + ' <small>(' + escape(item.type) + ')</small></span>'
                    + '<span class="card-desc"><small>' + item.text + '</small></span></div></div>';
                }
            }
        });
    });
    
block content
  .main.zerogrid
    div
      .list-heros
          .div-hero
              label.label-hero(for='priest')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/anduin.png', alt='anduin')
                br
                | Prêtre
                br
              input#priest.radiobtn-hero(type='radio', name='heroselect', value='Priest')
            .div-hero
              label.label-hero(for='warrior')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/garrosh.png', alt='garrosh')
                br
                | Guerrier
                br
              input#warrior.radiobtn-hero(type='radio', name='heroselect', value='Warrior')
            .div-hero
              label.label-hero(for='mage')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/jaina.png', alt='jaina')
                br
                | Mage
                br
              input#mage.radiobtn-hero(type='radio', name='heroselect', value='Mage')
            .div-hero
              label.label-hero(for='paladin')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/uther.png', alt='uther')
                br
                | Paladin
                br
              input#paladin.radiobtn-hero(type='radio', name='heroselect', value='Paladin')
            .div-hero
              label.label-hero(for='druid')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/malfurion.png', alt='malfurion')
                br
                | Druide
                br
              input#druid.radiobtn-hero(type='radio', name='heroselect', value='Druid')
            .div-hero
              label.label-hero(for='warlock')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/guldan.png', alt='guldan')
                br
                | Démoniste
                br
              input#warlock.radiobtn-hero(type='radio', name='heroselect', value='Warlock')
            .div-hero
              label.label-hero(for='thief')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/valeera.png', alt='valeera')
                br
                | Voleur
                br
              input#thief.radiobtn-hero(type='radio', name='heroselect', value='Thief')
            .div-hero
              label.label-hero(for='shaman')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/thrall.png', alt='thrall')
                br
                | Chaman
                br
              input#shaman.radiobtn-hero(type='radio', name='heroselect', value='Shaman')
            .div-hero
              label.label-hero(for='hunter')
                img(style='width: 100%;', src='#{staticsPrefixPath}/img/decklist/classes/rexxar.png', alt='rexxar')
                br
                | Chasseur
                br
              input#hunter.radiobtn-hero(type='radio', name='heroselect', value='Hunter')
      select(id="deck-search", multiple, placeholder="Rechercher une carte...", style="width:380px;")

    div(class='decklist-top')
      textarea(style='background-image: url(\'#{staticsPrefixPath}/img/decklist/heros/malfurion.png\');') Malfurion

    div(class='decklist-content')
      ul
    
    div(class='decklist-bottom')
      img(src='#{staticsPrefixPath}/img/decklist/decklist_bottom.jpg')

    div(class='decklist-controls')
      button Sauvegarder
