extends layout

block content
  link(rel='stylesheet', href='/stylesheets/decklist.css')
  script(type='text/javascript').
    $(document).ready(function() {
        $('.decklist-content li .card-name a').hover(
                function(e) {
                    $(this).closest('li').find('.decklist-popup').offset({top:posY,left:posX});
                    $(this).closest('li').find('.decklist-popup').show();
                }, function() {
                    $(this).closest('li').find('.decklist-popup').offset({top:0,left:0});
                    $(this).closest('li').find('.decklist-popup').hide();
                }
        );
    });
    
    var posX=0,posY=0;
    $(document).mousemove(function( event ) {
        posX= event.pageX;
        posY =event.pageY;
    });
  h1= title
  p Welcome to #{title} card search
  div(class='decklist-top')
    img(src='/img/decklist/decklist_top.png')

  div(class='decklist-content')
      ul
        li(class='minion')
           div(class='decklist-popup')
                img(src='http://wow.zamimg.com/images/hearthstone/cards/enus/medium/EX1_112.png')
                p(class='decklist-desc').
                    #{card.description}
           p(class='card-mana').
              #{card.cost}
           p(class='card-name')
               a(href='#').
                   #{card.name}
           p(class='card-health').
              #{card.health}
           p(class='card-attack').
              #{card.attack}
        li(class='weapon')
           div(class='decklist-popup')
                img(src='http://wow.zamimg.com/images/hearthstone/cards/enus/medium/EX1_112.png')
                p(class='decklist-desc').
                    #{card.description}
           p(class='card-mana').
              #{card.cost}
           p(class='card-name')
               a(href='#').
                   #{card.name}
           p(class='card-health').
              #{card.health}
           p(class='card-attack').
              #{card.attack}
        li
           div(class='decklist-popup')
                img(src='http://wow.zamimg.com/images/hearthstone/cards/enus/medium/EX1_112.png')
                p(class='decklist-desc').
                    #{card.description}
           p(class='card-mana').
              #{card.cost}
           p(class='card-name')
               a(href='#').
                   #{card.name}
           p(class='card-health').
              #{card.health}
           p(class='card-attack').
              #{card.attack}

  div(class='decklist-bottom')
    img(src='/img/decklist/decklist_bottom.jpg')
