extends layout
block head
  link(rel='stylesheet', href='/stylesheets/template/responsiveslides.css' type='text/css', media='all')
  script(type='text/javascript', src='/javascripts/jcarousellite_1.0.1.js')
  script(type='text/javascript', src='/javascripts/responsiveslides.js')
  script(type='text/javascript').
      $(function() { 
          $('.carousel .jCarouselLite').jCarouselLite({ 
              btnNext: '.carousel .next',
              btnPrev: '.carousel .prev',
              speed: 600,
              easing: 'easeOutQuart',
              vertical: false,
              circular: true,
              visible: 4,
              start: 0,
              scroll: 1
          }); 
          $("#slider").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 500,
            maxwidth: 940,
            namespace: "centered-btns"
          });
      });

block home
  .slider-wrapper
    .rslides_container
      ul#slider.rslides
        - if(tournaments.length===0)
          p(class='no-tournaments') Aucun tournoi ne se déroule en ce moment.
        - else
          - each tournament in tournaments
            li
              a(href='/tournaments/#{tournament.tournamentId}', title='#{tournament.title}')
                img(src='http://cdn.mohye.eu/img/slider-img1.jpg', alt='HearthStone')
  .wrapper
    figure.img-indent2
      img(src='http://cdn.mohye.eu/img/page1-img1.png', alt='')
    .extra-wrap
      strong.text-1.
        N'hésitez pas à vous inscrire sur le forum pour échanger avec vos adversaires.

block aside
  aside
    .carousel
        a.prev
        a.next
        .carousel-container
          h3 Les news
          .jCarouselLite
            ul.carousel-list
              - if(newscollection.length===0)
                p(class='no-tournaments') Aucune news n'est disponible.
              - else
                - each news in newscollection
                  li
                    .img-border
                      a(href='/all-news/#{news.newsId}')
                        img(src='#{news.iconRelPath}', alt='#{news.title}')
                        br
                        #{news.title}
        a(href='/all-news', class='small-link-right') Toutes les news...
block content
  .main.zerogrid
    .wrapper
      article.col-1-3
        .wrap-col
          h3.prev-indent-bot Shortly About Us
          h6.p1 Sed ut perspiciatis unde omnis
          p.img-indent-bot
            | PSD source files are available for free for the registered members of TemplatesMonster. The basic package is available for anyone without registration. This website template has several pages:
            a.link(href='index.html') Home Page
            | ,
            a.link(href='#') Company
            | ,
            a.link(href='services.html') Services
            | ,
            a.link(href='#') Clients
            | ,
            a.link(href='contacts.html') Contacts
            | (note that contact us form - doesn't work).
          a.button(href='#')
            span read more
      article.col-1-3
        .wrap-col
          .indent-left
            h3.p1 Derniers posts
            ul.list-1
              li
                a(href='#') Liste natus error sit voluptatem
              li
                a(href='#') Accusantium doloremque laudantium
              li
                a(href='#') Totam rem aperiam, eaque ipsa quae ab illo
              li
                a(href='#') Inventore veritatis et quasi
              li
                a(href='#') Architecto beatae vitae dicta sunt
              li
                a(href='#') Nemo enim ipsam voluptatem
              li
                a(href='#') Quia voluptas sit aspernatur aut odit aut
              li
                a(href='#') Sed quia consequuntur magni dolores
              li
                a(href='#') Eos qui ratione voluptatem sequi nesciunt
      article.col-1-3
        .wrap-col
          .indent-left2
            h3 Our Locations
            figure.prev-indent-bot
              img(src='http://cdn.mohye.eu/img/page1-img10.jpg', alt='')
            a.link-2(href='#')
              | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia.
