doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='icon', type='image/png', href='#{staticsPrefixPath}/img/favicon.png')
    link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/style.css' type='text/css', media='all')
    link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/template/reset.css' type='text/css', media='screen')
    link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/template/style.css' type='text/css', media='screen')
    link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/template/zerogrid.css' type='text/css', media='all')
    link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/template/responsive.css' type='text/css', media='all')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/css3-mediaqueries.js')
    script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/jquery.easing.1.3.js')
    block head
  body
    header
      .menu-row
          .main.zerogrid
            nav.wrapper
              ul.menu
                li
                  a.active(href='/index.html') Accueil
                li
                  a(href='/tournaments') Tournois
                li
                  a(href='http://forum.nodepoule.eu/') Forum
                li
                  a(href='/faq') FAQ
                - if(user)
                  li
                    a(href='/profile') Mon Profil
                - else
                  li
                    a(href='#{forumUrl}/login?next=#{baseUrl}#{currentReqPath}') Se connecter
        .row-bot
          .row-bot-bg
            .main.zerogrid
              .wrapper
                h1
                  a(href='index.html')
                    img(src='#{staticsPrefixPath}/img/logo.png', alt='logo')
              .main.zerogrid
                h2= htitle
              block home

    block aside

    section#content
      block content

    footer
      .main.zerogrid
        .aligncenter