extends layout
block head

block content
  .main.zerogrid
    .wrapper
      div(style='padding-left:20px;')
        - if(participants.length===0)
          p(class='no-tournaments') Aucun participant pour ce tournoi.
        - else
          - each participant in participants
            .user-box
              a(href='/profile/#{participant.uid}')
                  img.user-avatar(src='#{participant.avatarRelPath}')
                  p #{participant.pseudo}
                p.user-awards
                  | #{participant.nb1stPlace}
                  img(src='#{staticsPrefixPath}/img/awards/gold.png')
                  | #{participant.nb2ndPlace}
                  img(src='#{staticsPrefixPath}/img/awards/silver.png')
                  | #{participant.nb3rdPlace}
                  img(src='#{staticsPrefixPath}/img/awards/bronze.png')
                p.user-separation
                p.game-icon
                  img(src='#{staticsPrefixPath}/img/hearthstone_icon.png', title='hearhtstone')
        div(style='clear:both;')