extends layout

block content
  .main.zerogrid
    - if(tournaments.length===0)
      p Pas de tournois en cours...
    - else
      - each tournament in tournaments
        .competition-list-item
          a(href='/tournaments/#{tournament.tournamentId}')
            span
              | #{tournament.title}
          span(class='#{tournament.cssStatus}')
              | #{tournament.status}
          a(href='/tournaments/#{tournament.tournamentId}')
            img(src='#{tournament.imageRelPath}', style='width: 100%;')
      div        
        include _paginate