extends layout
block head
  link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets//mytourney.css', type='text/css', media='all')
  link(rel='stylesheet', href='#{staticsPrefixPath}/stylesheets/dp_calendar.css', type='text/css', media='all')
  link(rel="stylesheet" href='#{staticsPrefixPath}/stylesheets/jquery.modal.css', type='text/css', media='all')
  script(type='text/javascript', src='//code.jquery.com/ui/1.11.1/jquery-ui.min.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/date.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/jquery.dp_calendar.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/jquery.dp_calendar-fr.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/underscore-min.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/jquery.jsPlumb-1.6.4-min.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/mytourney.js')
  script(type='text/javascript', src='#{staticsPrefixPath}/javascripts/jquery.modal.js')
  script(type='text/javascript').
    var Tourney = {
        "participants": !{JSON.stringify(participants)},
        "rounds": !{JSON.stringify(rounds)}
    };

    $(function() {
        var events_array = new Array({
            startDate: new Date(2014, 07, 20, 15, 50), // Month : 0-11
            title: "Event 1",
            description: "Description 1",
            priority: 2 // 1 = Low, 2 = Medium, 3 = Urgent
            //frequency: 1 // 1 = Daily, 2 = Weekly, 3 = Monthly, 4 = Yearly
        },
        {
            startDate: new Date(2014, 07, 20, 16, 50), // Month : 0-11
            title: "Event 2",
            description: "Description 2",
            priority: 1
            //frequency:2
        },
        {
            startDate: new Date(2014, 07, 20, 9, 50), // Month : 0-11
            title: "Event 3",
            description: "Description 3",
            priority: 3
            //frequency:3
        },
        {
            startDate: new Date(2014, 07, 20, 11, 50), // Month : 0-11
            title: "Ebent 4",
            description: "Description 3",
            priority: 1
            //frequency:3
        },
        {
            startDate: new Date(2014, 07, 20, 18, 50), // Month : 0-11
            title: "Event 5",
            description: "Description 3",
            priority: 2
            //frequency:3
        });

        $("#calendar").dp_calendar({
            events_array: events_array,
            order_by: 3 //1 = Time, 2 = Title, 3 = Priority, date_selected: new Date(2011,06,30) 
        });
        $("#calendar").hide();

        $("#open-calendar").on("click", function(e) {
            e.preventDefault();
            showCalendar();            
            return false;
        });

        if(Tourney.participants && Tourney.participants.length > 0) {
            MyTourney.drawBracket({
                participants: Tourney.participants, 
                rounds: Tourney.rounds, 
                container: $('.bracket'),
                baseProfileUrl: "#{baseUrl}/profile"
            });
        }
    });

    function showCalendar() {
        $('#calendar').modal({
            closeClass: 'icon-remove',
            closeText: '!'
        });
    }

block content
  .main.zerogrid
    .competition-infos
      p.competition-title
          img(src='#{tournament.game.iconRelPath}')
          | #{tournament.game.name}
        p.competition-subtitle #{tournament.prettyStartDate} - #{tournament.prettyEndDate}

    div(style='width:100%;')
      a.button-link(href='#{tournament.tournamentId}/participants') Les participants
      a.button-link(href='#rules') Les règles
      a.button-link(href='#{tournament.game.link}') Obtenir le jeu
      a.button-link(href='#', id="open-calendar") Agenda

    div(style='clear:both;')
    .competition-brackets
      .bracket

    div(style='clear:both;')
    div(id="calendar", class="dp_calendar")

    div(style='float: left;')
      a(name='rules').section-title Règles
      dl
      - each rule in tournament.rules
        dt.rule-title #{rule.title}
        dd.rule-description !{rule.description}