extends ../layout
block head

block content
  .row
    - if(games.length===0)
      p Pas de faq disponible...
    - else
      - var prevGame = ''
      - each game in games
       - if(prevGame!=game.type)
         case game.type
            when 'game': h3.faq-game-type Jeux
            when 'platform': h3.faq-game-type Plateformes
            default: h3.faq-game-type Autres
        - prevGame = game.type
       .faq-game-button
           a(href='/game/#{game.id}#faq')
                img(src='#{game.iconRelPath}', alt='#{game.name}', aria-describedby='game-#{game.id}')
              span(id='game-#{game.id}') #{game.name}
