if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)        
    nav
      ul.pagination
        if paginate.hasPreviousPages
          li
            a(href=paginate.href(true), aria-label='Précédent')
              span(aria-hidden='true') &laquo;
        - for (var i = 1; i <= pageCount; ++i) {
          if(i == paginate.page)
            li.active
              a(href=paginate.href({page: i, limit: paginate.limit}))
                | #{i}
                span.sr-only (current)
          else
            li
              a(href=paginate.href({page: i, limit: paginate.limit})) #{i}
        - }
        if paginate.hasNextPages(pageCount)
          li
            a(href=paginate.href(), aria-label='Suivant')
              span(aria-hidden='true') &raquo;