extends layout
block head

block content
      div(style='padding-left:20px;')
        - if(participants.length===0)
          p(class='no-tournaments') Aucun participant pour ce tournoi.
        - else
          - each participant in participants
            .user-box
              a(href='/profile/#{participant.uid}')
                  img.user-avatar(src='#{participant.picture}', alt='avatar de #{participant.name}')
                  p #{participant.name}
                p.user-awards
                  | #{participant.nb1stPlace}
                  img(src='/images/awards/gold.png', alt='gold awards')
                  | #{participant.nb2ndPlace}
                  img(src='/images/awards/silver.png', alt='silver awards')
                  | #{participant.nb3rdPlace}
                  img(src='/images/awards/bronze.png', alt='bronze awards')
                p.user-separation
                p.game-icon
                  img(src='/images/hearthstone_icon.png', alt='hearthstone')
        div(style='clear:both;')