extends layout
block head
  script(type='text/javascript', src='http://code.jquery.com/ui/1.11.1/jquery-ui.min.js')

block content
        span #{htitle}   
        table
            tr
                th Titre
                th Contenu
                th Date
                th Editer
                th Archiver
                th Supprimer
            tr
                - if(newsCollection.length===0)
                    td(colspan='6')
                        p Aucune news n'est disponible.
                - else
                    - each news in newsCollection
                        td 
                            span #{news.title}
                        td
                            a(href='#') #{news.content} 
                            //(x premiers caractères + click: apercu news dans popup)
                        td 
                            span #{news.prettyDate}
                        td
                            a.action(href='/admin/news/#{news.newsId}')
                                img(src='bootstrap/img/edit.png')
                        td
                            a.action(href='#')
                                img(src='bootstrap/img/hide.png')
                        td
                            a.action(href='#')
                                img(src='bootstrap/img/delete.png')
        div        
          include _paginate